<!DOCTYPE html>
<html>
<head>
    <title>Create Story</title>
</head>
<body>
    <h1>Create</h1> 
    <form action="/create_story" method="POST">
        <input type="text" name="storyTitle"
            placeholder="storyTitle">
        <input type="text" name="description"
            placeholder="description">
        <button>Create</button>
    </form>
    <h1>This is story Creation page</h1>
    
    
    <li><a href="/logout">Logout</a></li>
    <li><a href="/home">Home</a></li>
    
</body>
</html>